div.image::before {
   content: url(minigolf.jpg);
}

#Mini Golf
{
width: 500px;
height: 333px;
}

#Bowling
{
width: 500px;
height: 333px;
}

#Traveling
{
width: 400px;
height: 233px;
}

#Movie Theater
{
width: 500px;
height: 333px;
}